body{
    width: 100%;
    height: 100%;
}

ul, li{
    display: block;
    margin: 0;
}
header{
    padding-top: 31px;
    padding-bottom: 31px;
}

.menu{
    padding-left: 30px;
}

.menu__item{
    margin-top: 12px;
    margin-left: 35px;
}

.menu__item a{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: black;
}

.visit{
    color: #E50046;
    margin-top: 12px;
    padding-left: 70px;
}

.adres__visit{
    font-size: 16px;
    line-height: 21px;
}

.location__visit{
    height: 24px;
}

.number__button a{
    font-size: 20px;
    line-height: 24px;
    color: white;
    background: #E50046;
    border-radius: 32px;
    width: 130px;
    height: 40px;
    padding: 7px 0 0 19px;
    margin: 4px 0 0 31px ;
    box-shadow: 0px 3px 6px rgba(229, 0, 70, 0.24);
}

.all__uzi{
    padding-top: 300px;
    width: 500px;
}

.wear{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #E50046;
}

.all__uzi p{
    font-size: 18px;
    width: 400px;
}
.make{
    margin-top: 40px;
    width: 230px;
}
.make a{
    width: 257px;
    height: 54px;
    padding: 13px 0 0 35px;
    font-size: 16px;
    margin: 0;
}

.decorations{
   padding: 70px 0 0 0;
   height: 707px;
}

.shape{
    position: relative;
}

.decor{
    position: relative;
    top: -560px;
    z-index: 2;
    left: -25px;
}

.illustration{
    position: relative;
    top: -1100px;
}

.line{
    width: 100%;
    height: 1px;
    background: #F3F3F3;
    margin-top: 70px;
}

.action{
    font-size: 32px;
    color: black;
    font-weight: 700;
    padding: 0 0 0 15px;
    margin: 0;
}

.head{
    padding-top: 81px;
}

.yellowline__head1{
    padding: 0 0 0 100px;
}

.all__action__a{
    width: 199px;
    height: 41px;
    align-items: center;
    color: white;
    background: #E50046;
    border-radius: 32px;
    box-shadow: 0px 3px 6px rgba(229, 0, 70, 0.24);
    font-size: 14px;
    font-weight: 500;
    margin-left: 580px;
}

.title{
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.list li a{
    font-size: 16px;
    line-height: 19px;
    color: #8B929E;
    line-height: 1.4;
}
.list{
    padding: 16px 0 0 0;
}
.btn a{
    color: #E50046;
    font-weight: 500;
    font-size: 14px;
}

.icons{
    padding-top: 50px;
}

.img__services{
    padding: 50px 0 30px 0;
}

.doctor{
    font-size: 14px;
    padding-top: 14px;
}

.inst{
    padding-right: 10px;
}

.main{
    padding-top: 50px;
}

.btn{
    display: flex;
    padding: 0;
}

.slick-prev:before,
.slick-next:before {
    position: absolute;
    color: #E50046;
    z-index: 1;
    font-size: 38px;
    border-radius: 32px;
    box-shadow: 0px 1px 2px rgba(229, 0, 70, 0.24);
    width: 40px;
    height: 40px;
    top: -207px;
    left: 300px;
}

.slick-next:before {
    left: -790px;
}

.sl__head{
    height: 72px;
    display: flex;  
    align-items: center;
}

.sl__img{
    padding: 32px 0 0 32px;
}

.sl__slide{
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.02);
border-radius: 16px;
    margin-right: 32px;
}

.sl__name{
    font-size: 12px;
    margin: 0;
    padding: 33px 0 0 10px;
}  

.btn1{
   padding: 33px 0 0 158px;   
   font-size: 14px;
}

.btn1 a{
    color: #E50046;
}

.sl__text{
    font-size: 14px;
    padding: 33px 20px 30px 32px;
    margin: 0;
}

footer{
    height: 240px;
    padding: 164px 0 0 0;
}

.btn2 a{
    color: #E50046;
    font-size: 14px;
}
.child_clinic{
    font-size: 12px;
    color: #191919;
    width: 200px;
    padding-top: 6px;
}

@media (max-width: 1070px){
    .visit{
        padding: 0px;
    }
}